 {% extends "global/base.html" %}
 {% block main %}
    <main>
        <section id="destinos">
            <h2>💰 Tabela de preços 💰</h2>
            <table class="table table-dark table-striped">
                <caption>
                    Confira nossos pacotes de viagem com preços imperdíveis!✈🌎
                </caption>
                <tr>
                    <th>Destinos</th>
                    <th>Pacote</th>
                    <th>Preços</th>
                </tr>
                <tr>
                    <td>Japão</td>
                    <td>Hotel + Aéreo</td>
                    <td>R$ 4000</td>
                </tr>
                <tr>
                    <td>San Andreas</td>
                    <td>Hotél + Aéreo</td>
                    <td>R$ 7500</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>
                            Promoção especial!👯‍♂️ Descontos para grupos!
                        </strong>
                    </td>
                </tr>
            </table>
        </section>
    </main>

{% endblock main %}