<footer> <!-- rodapé da página-->
    <div class="footer-copy">
        <p>&copy; 2025 Jornada de Viagens. <br>Todos os direitos reservados. ✈🌎</p>
    </div>
    <div class="footer-contato" id="contato">
        <h2>Contato</h2>
        <p>Email: contato@jornada.com.br</p>
        <p>Telefone: (21)99999-9999</p>
    </div>
    <div class="footer-social">
        <a href="#" target="_blank"><img src="image/facebook.png" width="20"></a>
        <a href="#" target="_blank"><img src="image/instagram.png" width="20"></a>
        <a href="#" target="_blank"><img src="image/whatsapp.png" width="20"></a>
    </div>
</footer>