{% extends "global/base.html" %}
{% block main %}
    <main>
    <section class="container mt-5 mb-5">
        <form method="post" action="{% if pessoa.id_pessoa %}{% url 'atualizar' pessoa.id_pessoa %}{% else %}{% url 'gravar' %}{% endif %}">
            {% csrf_token %}
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required value= {{pessoa.nome}} >
            <label for="movel" class="form-label">Telefone</label>
            <input type="tel" name="movel" id="movel" maxlength="11"  class="form-control" value= {{pessoa.telefone}}>
            <label for="correio" class="form-label">Email</label>
            <input type="email" name="correio" id="correio" class="form-control" required value= {{pessoa.email}}  >
            <hr>
            <input type="submit" class="btn btn-outline-success" value="Enviar"> 
            <input type="reset"  class="btn btn-outline-danger" value="Limpar">
            <input type="button" class="btn btn-outline-secondary" value="Atualizar">
            
        </form>
        <table class="table table-striped">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>telefone</td>
                <td>pessoa</td>
            </tr>
            {% for pessoa in pessoas %}
            <tr>  
                <td>{{ pessoa.id_pessoa}}</td>
                <td>{{ pessoa.nome}}</td>
                <td>{{ pessoa.telefone}}</td>
                <td>{{ pessoa.email}}</td>
                <td>
                    <a href={% url 'editar' pessoa.id_pessoa %}>Editar</a>
                    <a href={% url 'apagar' pessoa.id_pessoa %}>Apagar</a>
                </td>
            </tr>
            {% endfor %}
        <table/>
    </section>
   </main>
{% endblock main %}