{% extends "global/base.html" %}
{% block main %}
    <main>
    <section class="container mt-5 mb-5">
        <form name="teste" method="post" action="aula.js">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required>
            <label for="movel" class="form-label">Telefone</label>
            <input type="tel" name="movel" id="movel" maxlength="11" class="form-control">
            <label for="correio" class="form-label">Email</label>
            <input type="email" name="correio" id="correio" class="form-control" required>
            <hr>
            <input type="button" class="btn btn-outline-secondary" value="Confirmar" onclick="exibirDados()">  
            <input type="reset"  class="btn btn-outline-danger" value="Limpar">
            <input type="submit" class="btn btn-outline-success" value="Enviar">   
           
            
        </form>
    </section>
   </main>
{% endblock main %}