{% extends "global/base.html" %}
{% block main %}

    <main>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <img src="https://st2.depositphotos.com/4881727/7380/i/450/depositphotos_73807295-stock-photo-swing-hang-from-coconut-tree.jpg" class="card-img-top" alt="Post 1">
                        <div class="card-body">
                            <h2 class="card-title">Descobrindo Lugares Inexplorados</h2>
                            <p class="card-text">Explore destinos desconhecidos e fuja das rotas convencionais de viagem.</p>
                            <a href="#" class="btn btn-primary">Leia mais</a>
                        </div>
                    </div>
                    
                    <div class="card mb-4">
                        <img src="https://img.freepik.com/fotos-gratis/vista-de-cima-em-uma-mesa-cheia-de-comida_23-2149209253.jpg" class="card-img-top" alt="Post 2">
                        <div class="card-body">
                            <h2 class="card-title">Culinária pelo Mundo</h2>
                            <p class="card-text">Conheça os sabores exóticos e receitas tradicionais de diferentes culturas.</p>
                            <a href="#" class="btn btn-primary">Leia mais</a>
                        </div>
                    </div>
                    
                    <div class="card mb-4">
                        <img src="https://previews.123rf.com/images/splitov27/splitov272111/splitov27211103006/180056150-c%C3%A1lculo-de-despesas-de-viagem-economia-calculadora-com-banco-de-porquinho-avi%C3%A3o-no-fundo-azul.jpg" class="card-img-top" alt="Post 3">
                        <div class="card-body">
                            <h2 class="card-title">Dicas para Economizar em Viagens</h2>
                            <p class="card-text">Saiba como viajar gastando menos sem abrir mão do conforto e da diversão.</p>
                            <a href="#" class="btn btn-primary">Leia mais</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header">Sobre o Blog</div>
                        <div class="card-body">
                            <p>Um espaço dedicado a compartilhar experiências e dicas sobre viagens pelo mundo.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Categorias</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Destinos</li>
                            <li class="list-group-item">Gastronomia</li>
                            <li class="list-group-item">Dicas de Viagem</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock main %}

    