{% extends 'global/base.html' %}


{% block main %}


<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2">Tema</th>
            <th>Opção</th>
        </tr>
        {% for artigo in artigos %}
        <tr>
            <td><img src="{{ artigo.foto.url }}" class="img-fluid" width="50"></td>
            <td>{{artigo.tema}}</td>      
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#descricaoModal{{ artigo.id }}">
                    Ver Descrição
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>


</div>


<!-- Modal para exibir a descrição -->
{% for artigo in artigos %}
<!-- Modal -->
<div class="modal fade" id="descricaoModal{{ artigo.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ artigo.tema }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ artigo.conteudo }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
         
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock main %}

